<div class="footer">
  <div class="border">
  </div>
  <h1>YA ESTÁ DISPONIBLE!</h1>
  <img src="./../../../assets/images/switchFooter.png" alt="Nitendo Switch" class="switchFooter">
  <p>©2019 Nintendo / INTELLIGENT SYSTEMS. Co-developed by KOEI TECMO GAMES CO., LTD. Fire Emblem and Nintendo Switch are trademarks of Nintendo. © 2019 Nintendo.</p>
  <p>Apple, the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</p>
  <p>Google Play and the Google Play logo are trademarks of Google LLC.</p>
  <p>*Se requiere una suscripción de pago a Nintendo Switch Online al momento de la compra y canje de los cupones para juegos de Nintendo Switch. Los cupones deberán ser canjeados en un plazo de 12 meses luego de la fecha de compra. Los cupones no tienen valor monetario y no pueden ser transferidos, devueltos o canjeados por dinero en efectivo. Cada cupón para juegos de Nintendo Switch puede ser canjeado por uno de los juegos incluidos en el catálogo. Para obtener el valor promocional, al menos un cupón deberá ser canjeado por un juego con un costo de USD $59.99 o más al momento del canje. Los cupones para juegos de Nintendo Switch no pueden combinarse con ninguna otra venta especial, descuento u oferta promocional a menos que se especifique lo contrario.</p>
  <p>Se requiere la versión completa del juego para acceder al contenido descargable. Se vende por separado.</p>
</div>
