<div class="body">
  <app-start></app-start>
</div>

<div class="section">
  <img src="./../../../assets/images/crestIcon.png" alt="Crest of Flames" class="crest" data-aos="fade-in" data-aos-duration="1000">
  <h1 class="text" data-aos="fade-left" data-aos-duration="1000">Elige tu destino</h1>
  <h2 class="subText" data-aos="fade-right" data-aos-duration="1000">Conoce a los estudiantes de las tres casas y forma lazos inseparables.</h2>
  <app-info-game></app-info-game>
</div>

<div class="sectionWorld">
  <h1 class="worldText" data-aos="fade-right" data-aos-duration="1000">Explora el mundo</h1>
  <h2 class="subWorldText" data-aos="fade-left" data-aos-duration="1000">Adéntrate en las tierras de <strong>Fódlan</strong>, relaciónate con sus gentes y descubre su vasta historia.</h2>
  <app-info-world></app-info-world>
</div>

<div class="sectionBattle">
  <h1 class="battleText" data-aos="fade-left" data-aos-duration="1000">A combatir!</h1>
  <h2 class="battleSubText" data-aos="fade-right" data-aos-duration="1000">Muchos enemigos querran acabar con la paz de <strong>Fódlan</strong>. Pon a prueba tus conocimientos y guía tu ejército hacia la victoria!.</h2>
  <app-info-battle></app-info-battle>
</div>

<div class="sectionSoundtrack">
  <h1 class="soundtrackText" data-aos="fade-left" data-aos-duration="1000">Escucha la banda sonora!</h1>
  <app-soundtrack></app-soundtrack>
</div>

